{% extends "default" %}
{% block content_wrapper %}
    <article>
        <header class="page-header">
            <h1>{{ page.title }} <small><span class="glyphicon glyphicon-file"></span>post</small></h1>
            <time datetime="{{ page.date|date('c') }}" pubdate>
                <span class='month'>{{ page.date|date('M') }}</span> <span class='day'>{{ page.date|date('jS') }}</span> <span class='year'>{{ page.date|date('Y') }}</span>
            </time>
        </header>

        {% if page.tags %}
        <p class="pull-right tags">
            <span class="glyphicon glyphicon-tags"></span>&nbsp;
            {% for tag in page.tags %}
            <a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
        </p>
        {% endif %}

        <div>
            {{ page.blocks.content|raw }}
        </div>
    </article>
{% endblock %}
